<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Harakiri Rpg</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/harakiri-theme.css" />
    <link rel="stylesheet" href="~/harakiri_rpg.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>

    <!-- Botão do Menu Hambúrguer para mobile -->
    <div id="menu-btn" class="title-color " onclick="toggleSidebar()">&#9776;</div>

    <!-- Menu Lateral -->
    <div id="sidebar" class="d-flex flex-column border-left-ct">
        <a href="javascript:void(0)" onclick="toggleSidebar()" class="text-end text-light p-2 d-md-none">&times;</a>
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-controller="CriacaoChar" asp-action="Index">Criar Personagem</a>
            <a asp-controller="Missions" asp-action="Index">Missões</a>
            <a asp-controller="Profile" asp-action="Index">Perfil</a>
            <a asp-controller="Login" asp-action="Logout">Logout</a>
        }
        else
        {
            <a asp-controller="Login" asp-action="Index">Login</a>
            <a asp-controller="Cadastro" asp-action="Index">Cadastro</a>
        }
    </div>

    @*fazer controle de visualizacao do menu, olhar chat harakiri Dev no chatgpt*@

    @*@{
            var menuItems = Context.Items["MenuItems"] as List<MenuItem>;
        }

        <div id="sidebar" class="d-flex flex-column border-left-ct">
            <a href="javascript:void(0)" onclick="toggleSidebar()" class="text-end text-light p-2 d-md-none">&times;</a>
            @if (menuItems != null)
            {
                @foreach (var item in menuItems)
                {
                    <a asp-controller="@item.Controller" asp-action="@item.Action">@item.DisplayName</a>
                }
            }
        </div>*@


    <div class="" id="main-content">
        <header class="bg-header-ct border-bottom-ct">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow">
                <div class="container d-flex justify-content-center mt-1">
                    <a class="title-color text-center" asp-area="" asp-controller="Home" asp-action="Index">
                        <h2>Harakiri</h2>
                    </a>
                </div>
            </nav>
        </header>
        <partial name="_Toast" /> <!-- Notificacao de Toast -->
        <main role="main">
            @RenderBody()
        </main>
        <br />

    </div>

    <!--Scripts-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById("sidebar");
            sidebar.classList.toggle("expanded");
        }
    </script>
</body>
</html>
