@model harakiri_rpg.Models.Pages.CriacaoChar.CriacaoCharViewModel;

<h2 class="text-center">Crie Seu Personagem</h2>
<br />

<form method="post" asp-controller="CriacaoChar" asp-action="Index">
    @if (Model.imgs.Count > 0)
    {
        <div class="container">
            <div class="row mb-2">
                <!-- Container para as imagens e títulos -->
                <div class="d-flex flex-wrap justify-content-center align-items-center col-sm-12">
                    @for (var i = 0; i < Model.imgs.Count; i++)
                    {
                        var i1 = i;
                        <div id="@($"container{i1}")" class="col-12 col-sm-3 d-flex flex-column align-items-center"
                             style="display: @(string.IsNullOrEmpty(Model.imgs[i1].url_img_char) ? "none" : "flex");
                    justify-content: center;">

                            <!-- Imagem -->
                            <img id="@($"preview{i1}")" src="@($"{Model.imgs[i1].url_img_char}")"
                                 alt="Pré-visualização da Imagem" style="height: 180px;
                 object-fit: contain; border: 1px solid #ddd; padding: 5px;" />

                            <!-- Nome da imagem -->
                            <span class="text-center mt-2 mb-4">@Model.imgs[i1].nm_char_tipo</span>
                        </div>
                    }
                </div>
            </div>
            @*Aqui vai ser um if que quando selecionar, mostra a descricao equivalente*@
            @*Possivelmente precisara usar JS aqui para fazer isso acontecer com display none *@

            <div class="row d-flex justify-content-center">
                <div class="form-group col-sm-6">
                    <label asp-for="@Model.NovoChar.nm_char" class="d-flex justify-content-center mb-1"></label>
                    <input asp-for="@Model.NovoChar.nm_char" class="form-control bg-input-ct text-white" />
                </div>
            </div>
        </div>
    }
</form>